html
    head
        block head
            title bloggit
        style
            include css/style.css
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width, user-scalable=no')
    body
        block content
            ul
            each post in posts
                li= post.metadata.title
