extends index.pug

block head
    title #{post.metadata.title}

block content
    h1= post.metadata.title
    span(class='post-date')= post.metadata.date

    div(class='post-content') !{post.content}
